
@{
    Layout = null;
}
@using WxShop_Model
@model Senparc.Weixin.MP.AdvancedAPIs.OAuth.OAuthUserInfo
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Address</title>
    <link href="~/Common/css/Cbase.css" rel="stylesheet" />
    <link href="~/Common/css/center.css" rel="stylesheet" />
    <script src="~/Common/js/jquery-1.7.2.min.js"></script>
    <script src="~/Common/js/base.js"></script>
</head>
<body>
    <div class="ftop">
        <a class="back" onClick="javascript:history.back(-1);"><img src="~/Common/img/icon_03.png"></a>
        <h2>收货地址</h2>
        <a class="comea"></a>
        <div style="clear: both;"></div>
    </div>
    <!--ftop开始-->
    <!--个人中心-收货地址-->
    <div class="address">
        <div class="list">
            @foreach (Address item in ViewBag.add as List<Address>)
            {
                if (item.IsDefault == true)
                {
                    <div class="sg on">
                        <!--<label></label>-->
                        <a href="center-address-add.html">
                            <span class="name"><i>@item.name </i><em>@item.tel</em></span>
                            <span class="place"><i>[默认]</i>@item.address1</span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="sg">
                        <!--<label></label>-->
                        <a href="center-address-add.html">
                            <span class="name"><i>@item.name </i><em>@item.tel</em></span>
                            <span class="place"><i>[默认]</i>@item.address1</span>
                        </a>
                    </div>
                }
            }          
        </div>
    </div>
    <a class="makesure" href="/user/AddAddress">添加收货地址</a>
    <!--个人中心-收货地址-->

</body>
</html>
